/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/01/2014, 07:06:33 PM
    Author     : AN
*/

.mainFxmlClass {
  -fx-border-color: transparent;
  -fx-background-color: linear-gradient(to bottom, rgba(242,249,254,0.5) 0%,rgba(214,240,253,0.7) 100%);
  -fx-background-radius: 20; 
}


.text-area{    
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(241,241,241,0.6) 50%,rgba(225,225,225,0.3) 51%,rgba(246,246,246,0.6) 100%);
    -fx-background-insets: 1, 2, 3;
    -fx-background-radius: 9 0 8 0, 9 0 8 0, 9 0 8 0; 
    
    -fx-effect: dropshadow( one-pass-box ,white , 8 , 0.0 , 2 , 0 );  
    
}

.label{
   -fx-text-fill: black;
   -fx-font-size: 20;
   -fx-font-weight: bold;
   -fx-text-alignment: center;
   -fx-alignment: center;
   -fx-effect: dropshadow( one-pass-box ,grey , 8 , 0.0 , 2 , 0 ); 
    
}
.button{
     -fx-background-color: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.4) 100%);
    -fx-text-fill: white;
    -fx-font: bold 12 System;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.button:hover{     
    -fx-effect: dropshadow( three-pass-box , #0000ff , 20 , 0.0 ,   1 , 1 );
     -fx-scale-x: 1.1;
     -fx-scale-y: 1.1;    
    
}

.button:armed{     
    -fx-effect: innershadow( three-pass-box , #99ff99 , 3 , 0.0 ,  0 , 0 );
     -fx-scale-x: 1.0;
     -fx-scale-y: 1.0;    
    
}